@use "reset/reset";
@use "colors/colors";

body {
	background-color: colors.$secondary-color;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.wrapper {
	display: grid;
	place-items: center;
	width: 100%;
	max-width: 875px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 223px;
	grid-template-areas: "pc pi";
}

.product-card {
	grid-area: "pc";
	position: relative;

	& img {
		width: 100%;
	}
	.toggle-img {
		position: absolute;
		top: 8px;
		right: 50px;
		cursor: pointer;
	}
}

.product-info {
	grid-area: "pi";
}
